.delegate-page {
  .row-baseline {
    gap: 15px;
  }

  .delegate-table {
    margin-top: 50px;

    .is-delegate {
      background-color: transparentize($purplelight, 0.8);
    }

    .button {
      font-size: 0.8em;
      width: 98px;

      &.delegate-btn {
        background-color: $purplelight;
        color: $purpledark;

        &:hover {
          background-color: $purplemedium;
          color: white;
        }
      }
    }
  }

}