

//FONTS
$mainfont : "Poppins";

//GREYSCALE COLORS
$titlecolor : #1B1B1B;
$maincolor : #333333;
$lightgrey : #595959;

//ACCENT COLORS
$purpledark : #4D3677;
$purplemedium : #9C36B5;
$purplelight : #F0B5FF;
$yellow : #F7B000;

//$sea-green: #138c66ff;
//$bice-blue: #1d6993ff;
//$grape: #5221adff;
//$rose-red: #c5285fff;

//TIME COLORS
$urgent : #DC3545;
$soon : #FFA600;
$ontime : #9BDC33;

// Font-sizes pour small screens
$font-sizes-small: (
        "extra-large": clamp(2.1rem, calc(0.8vw + 1.5rem), 3rem),
        "large": clamp(1.8rem, max(3vh, 1.5vw), 3.5rem),
        "base": clamp(0.85rem, calc(0.35vw + 0.65rem), 1.2rem),
        "small": clamp(0.85rem, calc(0.45vw + 0.5rem), 1.2rem),
        "extra-small": clamp(0.85rem, calc(0.7vw + 0.15rem), 1.2rem)
);

// Font sizes pour large screens
$font-sizes-large: (
        "large": clamp(1.5rem, calc(0.6vw + 1rem), 2.5rem),
        "base": clamp(0.9rem, calc(0.35vw + 0.65rem), 1.2rem),
        "small": clamp(0.85rem, calc(0.45vw + 0.5rem), 1.2rem),
        "extra-small": clamp(0.8rem, calc(0.7vw + 0.15rem), 1.2rem)
);

// Breakpoints
$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: $mainfont;
}
