.home {
  width: 100%;
  padding: 0;
  display: flex;

  h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .calendar-container {
    width: 62%;
    padding-left: 4%;
    height: 100vh;
  }

  .tasks-container {
    height: 100vh;
    width: 38%;
    padding: 30px 4% 25px 20px;
    background-color: #f5f6fa;
    gap: 20px;
    @include flex-column(stretch, space-between);

    h2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 13px;
    }

    .main-content {
      gap: 15px;
      height: 100%;
      overflow-y: auto;
      padding: 0 15px;

      h2 {
        margin-bottom: 10px;
        i {
          font-size: 1.2em;
        }
      }


    }

    .button-grey {
      @include btn-variant($maincolor);
      align-self: flex-end;
    }
  }
}
