.home {
  width: 100%;
  padding: 0;
  display: flex;
  //height : 100vh - la nav height
  //(reprendre fonction js créée pour le paddingtop qui stock cette valeur)
  flex-direction : column;

  @include media-breakpoint-up(xl) {
    min-height : 100vh;
    flex-direction : row;
  }

  .fa-solid {
    font-size: 1.2em;
  }

  .calendar-container {
    width : 100%;
    padding: 30px 4% 35px;
    height: 100vh;

    @include media-breakpoint-up(sm) {
      height: auto;
    }

    @include media-breakpoint-up(xl) {
      width : 62%;
      min-height : 100vh;
      padding: 30px 20px 85px 4%;
    }

    .group-buttons-container {
      @include flex-row(flex-start, flex-end);
      .group-buttons {
        margin-bottom: 20px;
      }
    }

    #calendar {
      position: relative;
      z-index: 1 !important;


      @include media-breakpoint-down(sm) {
        max-height: 80vh;
        height: 100%;
      }

      .fc-toolbar.fc-header-toolbar {
        width: 100%;

        @include media-breakpoint-down(md) {
          align-items: flex-start;
          flex-direction: column;
        }

      }

      .fc-today-button, .fc-next-button, .fc-prev-button {
        background-color: $purpledark !important;
        transition: all 0.15s ease-in-out;
        font-size: 0.9rem;

        &:hover {
          background-color: darken($purpledark, 5) !important;
        }
      }

      .fc .fc-button {
        font-size: 0.9rem;
        padding: 0 12px;
        height: 35px;
        line-height: normal;
        border-radius: 5px;
      }

      .fc-day {
        overflow: hidden ;
        font-size: 0.78rem ;

      }

      .fc-daygrid-event {
        cursor: pointer;
        padding: 0 5px;
        width: 100%;
      }

      .fc-daygrid-event-harness {
        right: 0 !important;
      }

      .fc-toolbar-title {
        text-transform: capitalize;
      }

      .fc-event-time {
        display: none;
      }

      .fc-event-past {
        color: $lightgrey;
      }
    }


  }


  .tasks-container {
    flex : 1;
    height : 100%;
    width : 100%;
    position : relative;
    background-color: #f5f6fa;
    padding: 30px 4% 25px;
    gap: 20px;
    @include flex-column(stretch, space-between);


    @include media-breakpoint-up(xl) {
      padding: 30px 4% 25px 20px;
      //flex : 1; -> 0 ?
      height : 100vh;
      width : 38%;
      position : fixed;
      top: 0;
      right: 0;
    }
  }

  h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
  }

  .main-content {
    gap: 15px;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;

    h2 {
      margin-bottom: 10px;
      i {
        font-size: 1.2em;
      }
    }


  }

  .button-grey {
    @include btn-variant($maincolor);
    align-self: flex-end;
    margin: 15px;
  }
}

@keyframes tintement {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg); /* Balancement à gauche */
  }
  50% {
    transform: rotate(10deg); /* Balancement à droite */
  }
  75% {
    transform: rotate(-5deg); /* Reviens un peu à gauche */
  }
  100% {
    transform: rotate(0deg); /* Retour à la position initiale */
  }
}
.notif-button {
    position: fixed;
    bottom: 25px;
    left: 3%;
    background-color: $purpledark;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
    @extend .font-base;
  opacity: 0;
  visibility: hidden;
    transition: all 0.2s ease;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

    .suggestion-badge-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .suggestion-count-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: $purplelight;
        color: $purpledark;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
       width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        display: none;
        transition: all 0.2s ease;

      }
      // Afficher le badge si le nombre de suggestions est supérieur à 0
      &.has-suggestions {
        display: flex;

        i {
          transition: transform 0.3s ease;
        }
      }
    }

  &:hover {
    background-color: $purplelight;
    color: $purpledark;

    .suggestion-count-badge {
      color: $purplelight;
      background-color: $purpledark;
    }
  }

  }


/* Style pour le pop-up des suggestions */
.notif-container {
  position: fixed;
  bottom: 20px;
  left: 3%;
  width: 300px;
  max-height: 250px;
  background-color: $purplelight;
  color: $purpledark;
  border-radius: 8px;
  z-index: 100;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;

  .h4, h4 {
    margin: 0 0 8px;
    @extend .font-small;
    font-weight: 500;
    padding: 16px 16px 7px 16px;
  }

  ul {
li {
  @extend .font-extra-small;
  width: 100%;
  display: flex;

  a {
    display: block;
    width: 100%;
    margin: 0 8px;
    padding: 4px 8px 4px;
    border-bottom: 1px solid darken($purplelight, 8);
    color: $purpledark;
    transition: all 0.15s ease-in-out;
    flex-grow: 1;
    border-radius: 8px;

    &:hover {
      background-color: darken($purplelight, 3);
      cursor: pointer;
    }
    &:last-child {
      border-bottom: none;
    }
  }

}
  }

  .link {
    padding: 10px 16px 16px 16px;
    width: 100%;

    .row-end {
      @extend .font-extra-small;
      gap: 7px;
      width: fit-content;
      position: relative;
      color: $purpledark;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.07rem;
        background-color: currentColor;
        transition: width 0.2s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }
    }

  }

  #closeSuggestions {
    background: none;
    border: none;
    cursor: pointer;
    color: $purpledark;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: darken($purpledark, 15);
    }
  }

  a:active {
    color: currentColor;
  }


  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}









