// Utilisation dans des boutons spécifiques
//   .btn-primary {
//     @include btn-variant(200px, 18px, #007bff, #fff);
//   }

//   .btn-secondary {
//     @include btn-variant(150px, 16px, #6c757d, #fff);
//   }

.ontime {
  color: $ontime;
}

.soon {
  color: $soon;
}

.urgent {
  color: $urgent;
}


.padding {
  padding-top: 45px;
  padding-bottom: 45px;
}

.row-start {
  @include flex-row(flex-start);
}

.row-baseline {
  @include flex-row(flex-start, baseline);
}

.row-center {
  @include flex-row(center);
}

.row-spacebtwn {
  @include flex-row(space-between);
}

.column-start {
  @include flex-column(flex-start);
}

.column-start-start {
  @include flex-column(flex-start, flex-start);
}

.main-color {
  color: $maincolor;
}

.button {
  @include btn-variant();
}

.tag {
  @include tag();
}

.tag-small {
  @include tag-small();
}


input[type="checkbox"] {
  display: flex;
  flex-shrink: 0;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  &:checked {
    background-color: $maincolor;
    border-color: $maincolor;

    &::after {
      content: '';
      position: absolute;
      left: 4px;
      top: 1px;
      width: 5px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:hover {
    border-color: #888; /* Bordure au survol */
  }
}


.completed-task {
  color: grey;

  &:not(i) {
    text-decoration: line-through;
  }
}


.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: $maincolor;
  border: none;
  font-size: 40px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: $purpledark;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }
}

.popup {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  padding: 12px 20px;
  background-color: transparentize($purpledark, 0.1);
  text-align: center;
  z-index: 1000;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: white;
  font-size: 0.8rem;

  &.show {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }

}

nav {
  height: 50px;
  padding: 0 4%;
  width: 100%;
  gap: 10px;

  .logo {
    height: 25px;
  }

  .links {
    @include flex-row(flex-end);
    width: 100%;
    height: 100%;
    font-weight: 600;

    li {
      &:not(.separator) {
        height: 100%;
        padding: 0 2%;
      }

      .row-center {
        gap: 8px;
        color: $purpledark;
        height: 100%;
        width: 100%;
        flex-shrink: 0;
        font-size: 0.8rem;
        white-space: nowrap;

        .icon {
          height: 14px;

          path {
            fill: $purpledark;
          }
        }
      }

      &.separator {
        transform: scaleX(0.6);
        width: 2px;
        background-color: $purplelight;
        height: 30px;
      }

      &.active {
        background-color: $purpledark;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;

        .row-center {
          color: white;

          .icon path {
            fill: white;
          }
        }

        // Cacher le séparateur APRÈS
        & + .separator {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}

main {
  padding: 0 4%;
  width: 100%;

  h1 {
    color: $titlecolor;
    font-size: 2.3em;
    font-weight: 700;
  }

  h2,
  h3 {
    font-size: 1.7em;
    font-weight: 700;
  }

  h2,
  h3,
  p {
    color: $maincolor;
  }

  p {
    font-size: 1em;
    font-weight: 400;
  }

  .filter-section {

      /* Style du label */
      label {
        font-size: 0.85rem;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
      }

      /* Style du select */
      select {
        padding: 7px 10px;
        font-size: 0.78rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        color: #333;
        cursor: pointer;
        transition: all 0.1s ease-in-out;


        /* Option disabled */
        option:disabled {
          color: #999;
        }

    }

    .button-grey {
      @include btn-variant($maincolor, 0.85rem, 10px, 6px 14px);
    }
  }


  .task-container {
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: 18px;
    position: relative;
    padding: 22px 40px;
    gap: 12px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);

    .color {
      position: absolute;
      top: 0;
      left: 0;
      background-color: red;
      width: 15px;
      height: 100%;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }

    .top {
      gap: 15px;
      .date {
        color: $lightgrey;
        font-weight: 500;
      }
    }

    .content {
      gap: 20px;
      flex-wrap: nowrap;
      width: 100%;

      .task {
        gap: 15px;
        width: 60%;
        input {
          &:not([type="checkbox"]) {
            width: fit-content;
          }
        }
        .details {
          width: 100%;

          .name {
            font-weight: 700;
            font-size: 0.95em;
          }

          .subject {
            font-size: 0.75em;
          }
          .name,
          .subject {
            white-space: nowrap; // Empêche le retour à la ligne
            overflow: hidden; // Cache le texte dépassant le conteneur
            text-overflow: ellipsis; // Ajoute "..." à la fin du texte tronqué
            max-width: 100%;
          }
        }
      }

      .countdown {
        flex-shrink: 0;
        width: fit-content;
        gap: 10px;

        p {
          font-weight: 600;
          font-size: 0.85em;
        }

        .ontime {
          font-size: 1.3em;
        }
      }
    }
  }
}

.modal-container {
  background-color: transparentize($maincolor, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .modal {
    width: 800px;
    height: fit-content;
    padding: 50px 60px;
    border-radius: 10px;
    background-color: white;

    #closeModal {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      float: right;

      .fa-xmark {

        font-size: 25px;
        color: $maincolor;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $titlecolor;
        }
      }
    }



    ul {
      li {
        &.title,
        .title {
          font-weight: 600;
          font-size: 0.8em;
          margin-top: 15px;
        }

        &.plateformes {
          margin-top: 15px;
        }

        i {
          margin-right: 3px;
        }

        .subtitle {
          font-size: 0.9em;
          font-weight: 600;
        }
      }

      .done {
        display: flex;
        gap: 7px;
        align-items: center;
        justify-content: center;
        width: fit-content;

        input,
        label {
          margin-top: 30px;
          font-weight: 500;
        }
      }
    }

    .button {
      float: right;
      margin-top: 30px;
    }
  }
}

table:not(#calendar table) {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.93rem;

  thead {
    background-color: $purplemedium;
    color: white;
    text-transform: uppercase;

    th {
      padding: 17px 35px;
      text-align: left;
      font-weight: 600;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: transparentize($purplemedium, 0.93);      }

      td {
        padding: 15px 35px;
      }

      td span {
        padding: 4px 8px;
        border-radius: 4px;

        &.delegate {
          background-color: $purplelight;
          color: white;
        }
      }

    }
  }

}


.form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: $maincolor;

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  div:not(.group) {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
  }

  input:not(input[type="checkbox"]),
  textarea,
  select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba($maincolor, 0.5);
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  .form-error {
    color: $urgent;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }


  .button {
    margin-top: 30px;
    width: 100%;
  }

  // Champ conditionnel pour le mode de rendu
  #submission_other_container {
    display: none;
  }

  .assignment {
    .row-start {
      gap: 15px;
      .row-start {
        gap: 10px;
      }
    }
  }

  .buttons {
    gap: 15px;
  }
}


.fc-today-button, .fc-next-button, .fc-prev-button {
  background-color: $purpledark !important;
}
