// Utilisation dans des boutons spécifiques
//   .btn-primary {
//     @include btn-variant(200px, 18px, #007bff, #fff);
//   }

//   .btn-secondary {
//     @include btn-variant(150px, 16px, #6c757d, #fff);
//   }

.ontime {
  color: $ontime;
}

.soon {
  color: $soon;
}

.urgent {
  color: $urgent;
}


.padding {
  padding-top: 45px;
  padding-bottom: 45px;
}

.row-start {
  @include flex-row(flex-start);
}

.row-baseline {
  @include flex-row(flex-start, baseline);
}

.row-center {
  @include flex-row(center);
}

.row-end {
  @include flex-row(flex-end);
}

.row-spacebtwn {
  @include flex-row(space-between);
}

.column-start {
  @include flex-column(flex-start);
}

.column-start-start {
  @include flex-column(flex-start, flex-start);
}

.main-color {
  color: $maincolor;
}

.button {
  @include btn-variant();
}

.tag {
  @include tag();
}

.tag-small {
  @include tag-small();
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.group-buttons-container {
  width: 100%;

  .group-buttons {
    display: flex;
    background-color: $purplelight;
    width: fit-content;
    border-radius: 8px 8px 3px 3px;
    overflow: hidden;
    justify-content: flex-end;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $purpledark;
      transition: all 0.1s ease-in-out;
      z-index: 8;
    }

    .group-btn {
      @extend .font-small;

      flex-shrink: 0;
      border: none;
      background-color: rgba(27, 27, 27, 0);
      padding: 7px 15px;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      position: relative;
      color: $purpledark;
      font-weight: 500;
      transition: color 0.1s ease-in-out;
      overflow: hidden;

      &:not(.group-btn:last-of-type) {
        border-right: 1px solid darken($purplelight, 8) ;
      }

      &:hover {
        color: #3d1d47;

        &::before {
          background-color: $yellow;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $purpledark;
        transition: all 0.1s ease-in-out;
        z-index: 9;
      }

      &.current {
        background-color: darken($purplelight, 5);
        &::before {
          background-color: $purplemedium;

        }
      }
    }
  }

}


input[type="checkbox"] {
  display: flex;
  flex-shrink: 0;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  &:checked {
    background-color: $maincolor;
    border-color: $maincolor;

    &::after {
      content: '';
      position: absolute;
      left: 4px;
      top: 1px;
      width: 5px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:hover {
    border-color: #888; /* Bordure au survol */
  }
}


.completed-task, .completed-event {
  color: grey !important;

  &:not(i) {
    text-decoration: line-through;
  }
}

.popup {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  padding: 12px 20px;
  background-color: transparentize($purpledark, 0.1);
  text-align: center;
  z-index: 1000;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: white;
  @extend .font-small;

  &.show {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }

}

nav {
  height: 50px;
  padding: 0 4%;
  width: 100%;
  z-index: 10;
  position: relative;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    aspect-ratio: 283/150;
    height: 25px;
  }

  // ===== BURGER =====
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23px;
    height: 18px;
    cursor: pointer;
    z-index: 310;

    span {
      display: block;
      height: 2px;
      width: 100%;
      background: $purpledark;
      border-radius: 2px;
      transition: 0.3s ease;
    }

    &.open {
      position: fixed;
      right: 4%;
      top: 15px;
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  // ===== MOBILE LINKS =====
  .links {
    position: fixed;
    right: -140%;
    top: 0;
    bottom: 0;
    transition: right 0.4s ease;
    list-style: none;
    z-index: 300;
    display: flex;
    font-weight: 600;

    @include media-breakpoint-down(xl) {
      max-width: 100%;
      min-width: 310px;
      width: 29vw;
      height: 100vh;
      background-color: #f5f6fa;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      padding: 80px 20px 20px 40px;
    }

    &.active {
      right: 0;
    }

    li {
//      padding: 10px 0;

      .row-center {
        @extend .font-extra-small;
        gap: 8px;
        color: $purpledark;
        white-space: nowrap;

        @media (max-width: 1199px) {
          font-size: 16px;
        }

        .icon {
          height: 14px;

          path {
            fill: $purpledark;
          }
        }
      }

      &.separator {
        display: none;
      }

      &.active {
        .row-center {
          @include media-breakpoint-down(xl) {
            color: white;
            background-color: $purpledark;
            border-radius: 14px;
            padding: 8px 12px;

            .icon path {
              fill: white;
            }
          }

        }
      }
    }
  }

  // ===== DESKTOP STYLES =====
  @include media-breakpoint-up(xl) {
    .burger {
      display: none;
    }

    .links {
      position: static;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background: none;
      padding: 0;
      gap: 0;
      transition: none;

      li {
        display: flex;
        align-items: center;

        &:not(.separator) {
          padding: 0 2%;
          height: 100%;
        }

        .row-center {
          height: 100%;
          width: 100%;
          flex-shrink: 0;
        }

        &.separator {
          display: block;
          transform: scaleX(0.6);
          width: 2px;
          background-color: $purplelight;
          height: 30px;
        }

        &.active {
          background-color: $purpledark;
          border-bottom-left-radius: 18px;
          border-bottom-right-radius: 18px;

          .row-center {
            color: white;

            .icon path {
              fill: white;
            }
          }

          & + .separator {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
}


main {
  padding: 0 4%;
  width: 100%;

  h1 {
    color: $titlecolor;
    font-weight: 700;

    @extend .font-extra-large;

  }

  h2, .h2,
  h3, .h3 {
    @extend .font-large;
    font-weight: 700;
  }

  h2, .h2,
  h3:not(.h4), .h3,
  p {
    color: $maincolor;
  }

  p {
    @extend .font-base;

    font-weight: 400;
  }

  .filter-section {

      /* Style du label */
      label {
        @extend .font-small;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
      }

      /* Style du select */
      select {
        padding: 7px 10px;
        @extend .font-extra-small;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        color: #333;
        cursor: pointer;
        transition: all 0.1s ease-in-out;


        /* Option disabled */
        option:disabled {
          color: #999;
        }

    }

    .button-grey {
      @include btn-variant($maincolor, 0.85rem, 10px, 6px 14px);
    }
  }


  .task-container {
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: 18px;
    position: relative;
    padding: 18px 40px;
    gap: 7px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);

    .color {
      position: absolute;
      top: 0;
      left: 0;
      background-color: red;
      width: 15px;
      height: 100%;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }

    .top {
      gap: 15px;
      .date {
        color: $lightgrey;
        font-weight: 500;
      }
    }

    .content {
      gap: 20px;
      flex-wrap: nowrap;
      width: 100%;

      .task {
        gap: 15px;
        width: 60%;
        input {
          &:not([type="checkbox"]) {
            width: fit-content;
          }
        }
        .details {
          width: 100%;

          .name {
            font-weight: 700;
          }

          .subject {
            @extend .font-extra-small;

          }
          .name,
          .subject {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; // Ajoute "..." à la fin du texte tronqué
            max-width: 100%;
          }
        }
      }

      .countdown {
        flex-shrink: 0;
        width: fit-content;
        gap: 10px;

        p {
          font-weight: 600;
          @extend .font-base;

        }
      }
    }
  }
}

.modal-container {
  background-color: transparentize($maincolor, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;

  .modal {
    width: 800px;
    height: fit-content;
    padding: 50px 60px;
    border-radius: 10px;
    background-color: white;

    #closeModal {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      float: right;

      .fa-xmark {

        font-size: 25px;
        color: $maincolor;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $titlecolor;
        }
      }
    }



    ul {
      li {
        &.title,
        .title {
          font-weight: 600;
          font-size: 0.8em;
          margin-top: 15px;
        }

        &.plateformes {
          margin-top: 15px;
        }

        i {
          margin-right: 3px;
        }

        .subtitle {
          font-size: 0.9em;
          font-weight: 600;
        }
      }

      .done {
        display: flex;
        gap: 7px;
        align-items: center;
        justify-content: center;
        width: fit-content;

        input,
        label {
          margin-top: 30px;
          font-weight: 500;
        }
      }
    }

    .button {
      float: right;
      margin-top: 30px;
    }
  }
}


.has-table {
  overflow-x: auto;
}

table:not(#calendar table) {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  thead {
    background-color: $purplemedium;
    color: white;
    text-transform: uppercase;

    th {
      padding: 17px 35px;
      text-align: left;
      font-weight: 600;
      @extend .font-base;

    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: transparentize($purplemedium, 0.93);      }

      td {
        padding: 15px 30px;
        @extend .font-small;
      }

      td span {
        padding: 4px 8px;
        border-radius: 4px;

        &.delegate {
          background-color: $purplelight;
          color: white;
        }
      }

    }
  }

}

.form {
  min-width: 750px;
  width: 80%;
  max-width: 900px;
  margin: 2rem auto;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: $maincolor;

  h1 {
    margin-bottom: 1.5rem;
  }

  div:not(.group, .container) {
    margin-bottom: 30px;
  }

  label:not(.group label) {
    font-weight: bold;
    display: block;
    margin-bottom: 0.4rem;
    @extend .font-small;

  }

  input:not(input[type="checkbox"]),
  textarea,
  select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    @extend .font-base;
    transition: 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba($maincolor, 0.5);
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  .form-error {
    color: $urgent;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }

  .button {
    margin-top: 30px;
    width: 100%;
  }

  // Champ conditionnel pour le mode de rendu
  #submission_other_container {
    display: none;
  }
  .container {
    &.row-start {
      gap: 50px;

      .assignment {
        .row-start {
          gap: 15px;
          .row-start {
            gap: 10px;
          }
        }
      }

    }
  }

  .buttons {
    gap: 15px;
  }

}

#pagination {
  width: 100%;
  .pagination {
    gap: 15px;
    width: 100%;
    margin-top: 20px;

    .compteur {
      margin: 0 13px;
      gap: 18px;
    }

    a {
      color: $purpledark;

      &.row-center {
        letter-spacing: -2px;
      }


    }
  }

  .active {
    background-color: $purpledark;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    a {
      color: white;
    }
  }
  .disabled {
    a {
      cursor: default;
      color: $lightgrey;
    }
  }

}