
.login {
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .row-start {
      gap: 8px;

    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
      color: #555;
      margin-top: 10px;
      font-size: 0.75em;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 2px solid $lightgrey;
      font-size: 0.8em;
    }

    input[type="checkbox"] {
      width: 13px;
      height: 13px;
      margin-bottom: 0;

        &:checked {
          background-color: $maincolor;
          border-color: $maincolor;

          &::after {
            left: 6px;
            top: 3px;
          }
        }
    }

    select {
      padding: 7px 10px;
      font-size: 0.84rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
      color: #333;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      margin-bottom: 10px;

    }

    .button {
      margin-top: 20px;
      width: 100%;
    }
  }

  .link {
    margin-top: 10px;
    width: 100%;
    text-align: center;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

