form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  div {
    label {
      gap: 10px;

    }
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    margin-top: 10px;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid $lightgrey;
    font-size: 16px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  .button {
    margin-top: 20px;
    width: 100%;
  }
}
