.suggest-assignment {
  .row-center {
    gap: 15px;
  }

  .modal-container {
    position: relative;
    min-height: 100vh;
    background: white;
    align-items: flex-start;

    .modal {
      background: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h2 {
        margin-top: 20px;
      }

      .row-start {
        gap: 10px;
        margin: 20px 0;

        #form_approve, #form_reject {
          @extend %btn-base;
          color: $purpledark;
          padding: 10px 15px;
          background-color: $purplelight;
          cursor: pointer;
        }

        #form_approve {
          &:hover {
            background-color: $ontime;
          }
        }

        #form_reject {
          &:hover {
            background-color: $urgent;
            color: white;
          }
        }
      }



    }
  }
}


