.suggest-assignment {
  .row-center {
    gap: 15px;
  }

  &.modal-container {
    position: relative;
    min-height: 100vh;
    background: white;
    align-items: flex-start;

    .modal {
      background: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h2 {
        margin-top: 20px;
      }

      table {
        margin-top: 20px;
      }

      .row-start {
        gap: 10px;
        margin: 20px 0;

        #form_approve, #form_reject {
          @extend %btn-base;
          padding: 10px 15px;
          cursor: pointer;
          color: white;

          &:hover {
            color: $purpledark;
            background-color: $purplelight;
          }

        }

        #form_approve {
            background-color: $ontime;
        }

        #form_reject {
            background-color: $urgent;
        }
      }



    }
  }
}

#suggest-history {

  table {
    margin-top: 25px;
    table-layout: auto;

    tr {
      th {
        text-align: left;
        padding: 15px 20px;
        @extend .font-small;
      }
      .suggested-by {
        width: 245px;
        min-width: 110px;
        word-break: break-word;
        hyphens: auto;
      }
      .assignment-info {
        width: 210px;
      }
      .message {
        width: 380px;
      }
      .date {
        width: 145px;
      }
      .statut, .action {
        text-align: center;
        vertical-align: middle;

        .button {
          display: inline;
        }
        i:not(.fa-minus) {
          font-size: 25px;
        }
        .fa-minus {
          font-size: 15px;
        }
      }

      &.sub-row {
        background-color: #f9f9f9;
        font-style: italic;
        border-top: 2px solid #ddd;
        height: auto;

        th {
          height: 100%;
          vertical-align: middle;
          background-color: #f4f4f4;
          @extend .font-small;
          font-weight: 600;
          color: $titlecolor;

          div {
            gap: 15px;
          }

          i {
            transform: rotate(90deg);
          }
        }

        td {
          padding: 20px;
        }

        .changes {
          font-size: 0.9em;
          color: #555;
        }
      }
    }

  }

}

