.suggest-assignment {
  .row-center {
    gap: 15px;
  }

  &.modal-container {
    position: relative;
    min-height: 100vh;
    background: white;
    align-items: flex-start;

    .modal {
      background: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h2 {
        margin-top: 20px;
      }

      table {
        margin-top: 20px;
      }

      .row-start {
        gap: 10px;
        margin: 20px 0;

        #form_approve, #form_reject {
          @extend %btn-base;
          padding: 10px 15px;
          cursor: pointer;
          color: white;

          &:hover {
            color: $purpledark;
            background-color: $purplelight;
          }

        }

        #form_approve {
            background-color: $ontime;
        }

        #form_reject {
            background-color: $urgent;
        }
      }



    }
  }
}


