@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

.suggest-assignment .modal-container .modal .row-start #form_approve, .suggest-assignment .modal-container .modal .row-start #form_reject, .manage-assignmts td.row-start .button-delete, .manage-assignmts td.row-start .button-modify, .home .button-grey, main .filter-section .button-grey, .button, .all-tasks #assignmentsContainer .task-container .content .status, .tag-small, .tag {
  font-weight: 600;
  border-radius: 9px;
  text-align: center;
  border: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-tasks #assignmentsContainer .task-container .content .status, .tag-small, .tag {
  color: #ffffff;
  width: fit-content;
  gap: 10px;
}

.all-tasks #assignmentsContainer, .all-tasks .filter-section, .all-tasks, .home .tasks-container, .column-start-start, .column-start, .delegate-page .group-buttons-container, .home .calendar-container .group-buttons-container, .row-spacebtwn, .row-end, .row-center, .row-baseline, .row-start {
  display: flex;
}

.delegate-page .group-buttons-container, .home .calendar-container .group-buttons-container, .row-spacebtwn, .row-end, .row-center, .row-baseline, .row-start {
  flex-direction: row;
}

.all-tasks #assignmentsContainer, .all-tasks .filter-section, .all-tasks, .home .tasks-container, .column-start-start, .column-start {
  flex-direction: column;
}

.font-extra-large, main h1 {
  font-size: clamp(2.1rem, 0.8vw + 1.5rem, 3rem);
}

.font-large, main h2, main .h2,
main h3, main .h3 {
  font-size: clamp(1.8rem, max(3vh, 1.5vw), 3.5rem);
}

.font-base, .login form select, .login form input, .notif-button, .form input:not(input[type=checkbox]),
.form textarea,
.form select, table:not(#calendar table) thead th, main .task-container .content .countdown p, main p {
  font-size: clamp(0.85rem, 0.35vw + 0.65rem, 1.2rem);
}

.font-small, .all-tasks #assignmentsContainer .task-container .content .description, .notif-container .h4, .notif-container h4, .form label:not(.group label), table:not(#calendar table) tbody tr td, main .filter-section label, .popup, .group-buttons-container .group-buttons .group-btn {
  font-size: clamp(0.85rem, 0.45vw + 0.5rem, 1.2rem);
}

.font-extra-small, .login form label, .all-tasks #assignmentsContainer .task-container .content .groupes, .notif-container .link .row-end, .notif-container ul li, main .task-container .content .task .details .subject, main .filter-section select, nav .links li .row-center {
  font-size: clamp(0.85rem, 0.7vw + 0.15rem, 1.2rem);
}

@media (min-width: 768px) {
  .font-large, main h2, main .h2,
  main h3, main .h3 {
    font-size: clamp(1.5rem, 0.6vw + 1rem, 2.5rem);
  }
  .font-base, .login form select, .login form input, .notif-button, .form input:not(input[type=checkbox]),
  .form textarea,
  .form select, table:not(#calendar table) thead th, main .task-container .content .countdown p, main p {
    font-size: clamp(0.9rem, 0.35vw + 0.65rem, 1.2rem);
  }
  .font-small, .all-tasks #assignmentsContainer .task-container .content .description, .notif-container .h4, .notif-container h4, .form label:not(.group label), table:not(#calendar table) tbody tr td, main .filter-section label, .popup, .group-buttons-container .group-buttons .group-btn {
    font-size: clamp(0.85rem, 0.45vw + 0.5rem, 1.2rem);
  }
  .font-extra-small, .login form label, .all-tasks #assignmentsContainer .task-container .content .groupes, .notif-container .link .row-end, .notif-container ul li, main .task-container .content .task .details .subject, main .filter-section select, nav .links li .row-center {
    font-size: clamp(0.8rem, 0.7vw + 0.15rem, 1.2rem);
  }
}
.ontime {
  color: #9BDC33;
}

.soon {
  color: #FFA600;
}

.urgent {
  color: #DC3545;
}

.padding {
  padding-top: 45px;
  padding-bottom: 45px;
}

.row-start {
  justify-content: flex-start;
  align-items: center;
}

.row-baseline {
  justify-content: flex-start;
  align-items: baseline;
}

.row-center {
  justify-content: center;
  align-items: center;
}

.row-end {
  justify-content: flex-end;
  align-items: center;
}

.row-spacebtwn {
  justify-content: space-between;
  align-items: center;
}

.column-start {
  justify-content: center;
  align-items: flex-start;
}

.column-start-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.main-color {
  color: #333333;
}

.button {
  padding: 10px 20px;
  background-color: #4D3677;
  color: #ffffff;
  font-size: 0.9rem;
  width: fit-content;
  gap: 15px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(54.3005780347, 38.0809248555, 83.9190751445);
}

.tag {
  background-color: #9C36B5;
  padding: 3px 10px;
  font-size: 0.9em;
}

.tag-small {
  background-color: #9C36B5;
  padding: 2px 8px;
  font-size: clamp(0.85rem, 0.7vw + 0.15rem, 1.2rem);
}

.sr-only, .all-tasks .filter-section .filters-container .filter label[for=groupSelect], .all-tasks .filter-section .filters-container .filter label[for=subjectSelect] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.group-buttons-container {
  width: 100%;
}
.group-buttons-container .group-buttons {
  display: flex;
  background-color: #F0B5FF;
  width: fit-content;
  border-radius: 8px 8px 3px 3px;
  overflow: hidden;
  justify-content: flex-end;
  position: relative;
}
.group-buttons-container .group-buttons::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4D3677;
  transition: all 0.1s ease-in-out;
  z-index: 8;
}
.group-buttons-container .group-buttons .group-btn {
  flex-shrink: 0;
  border: none;
  background-color: rgba(27, 27, 27, 0);
  padding: 7px 15px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  color: #4D3677;
  font-weight: 500;
  transition: color 0.1s ease-in-out;
  overflow: hidden;
}
.group-buttons-container .group-buttons .group-btn:not(.group-btn:last-of-type) {
  border-right: 1px solid rgb(231.7297297297, 140.2, 255);
}
.group-buttons-container .group-buttons .group-btn:hover {
  color: #3d1d47;
}
.group-buttons-container .group-buttons .group-btn:hover::before {
  background-color: #F7B000;
}
.group-buttons-container .group-buttons .group-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4D3677;
  transition: all 0.1s ease-in-out;
  z-index: 9;
}
.group-buttons-container .group-buttons .group-btn.current {
  background-color: rgb(234.8310810811, 155.5, 255);
}
.group-buttons-container .group-buttons .group-btn.current::before {
  background-color: #9C36B5;
}

input[type=checkbox] {
  display: flex;
  flex-shrink: 0;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
input[type=checkbox]:checked {
  background-color: #333333;
  border-color: #333333;
}
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input[type=checkbox]:hover {
  border-color: #888; /* Bordure au survol */
}

.completed-task {
  color: grey;
}
.completed-task:not(i) {
  text-decoration: line-through;
}

.popup {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  padding: 12px 20px;
  background-color: rgba(77, 54, 119, 0.9);
  text-align: center;
  z-index: 1000;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: white;
}
.popup.show {
  opacity: 1;
}
.popup.fade-out {
  opacity: 0;
}

nav {
  height: 50px;
  padding: 0 4%;
  width: 100%;
  z-index: 10;
  position: relative;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  aspect-ratio: 283/150;
  height: 25px;
}
nav .burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23px;
  height: 18px;
  cursor: pointer;
  z-index: 310;
}
nav .burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: #4D3677;
  border-radius: 2px;
  transition: 0.3s ease;
}
nav .burger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
nav .burger.open span:nth-child(2) {
  opacity: 0;
}
nav .burger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
nav .links {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  transition: right 0.4s ease;
  list-style: none;
  z-index: 300;
  display: flex;
  font-weight: 600;
}
@media (max-width: 1200px) {
  nav .links {
    max-width: 100%;
    min-width: 310px;
    width: 29vw;
    height: 100vh;
    background-color: #f5f6fa;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 80px 20px 20px 40px;
  }
}
nav .links.active {
  right: 0;
}
nav .links li .row-center {
  gap: 8px;
  color: #4D3677;
  white-space: nowrap;
}
@media (max-width: 1199px) {
  nav .links li .row-center {
    font-size: 16px;
  }
}
nav .links li .row-center .icon {
  height: 14px;
}
nav .links li .row-center .icon path {
  fill: #4D3677;
}
nav .links li.separator {
  display: none;
}
@media (max-width: 1200px) {
  nav .links li.active .row-center {
    color: white;
    background-color: #4D3677;
    border-radius: 14px;
    padding: 8px 12px;
  }
  nav .links li.active .row-center .icon path {
    fill: white;
  }
}
@media (min-width: 1200px) {
  nav .burger {
    display: none;
  }
  nav .links {
    position: static;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: none;
    padding: 0;
    gap: 0;
    transition: none;
  }
  nav .links li {
    display: flex;
    align-items: center;
  }
  nav .links li:not(.separator) {
    padding: 0 2%;
    height: 100%;
  }
  nav .links li .row-center {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
  }
  nav .links li.separator {
    display: block;
    transform: scaleX(0.6);
    width: 2px;
    background-color: #F0B5FF;
    height: 30px;
  }
  nav .links li.active {
    background-color: #4D3677;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  nav .links li.active .row-center {
    color: white;
  }
  nav .links li.active .row-center .icon path {
    fill: white;
  }
  nav .links li.active + .separator {
    opacity: 0;
    visibility: hidden;
  }
}

main {
  padding: 0 4%;
  width: 100%;
}
main h1 {
  color: #1B1B1B;
  font-weight: 700;
}
main h2, main .h2,
main h3, main .h3 {
  font-weight: 700;
}
main h2, main .h2,
main h3:not(.h4), main .h3,
main p {
  color: #333333;
}
main p {
  font-weight: 400;
}
main .filter-section {
  /* Style du label */
  /* Style du select */
}
main .filter-section label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}
main .filter-section select {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  /* Option disabled */
}
main .filter-section select option:disabled {
  color: #999;
}
main .filter-section .button-grey {
  padding: 6px 14px;
  background-color: #333333;
  color: #ffffff;
  font-size: 0.85rem;
  width: fit-content;
  gap: 10px;
  cursor: pointer;
}
main .filter-section .button-grey:hover {
  background-color: rgb(25.5, 25.5, 25.5);
}
main .task-container {
  cursor: pointer;
  width: 100%;
  background-color: white;
  border-radius: 18px;
  position: relative;
  padding: 18px 40px;
  gap: 7px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}
main .task-container .color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 15px;
  height: 100%;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
main .task-container .top {
  gap: 15px;
}
main .task-container .top .date {
  color: #595959;
  font-weight: 500;
}
main .task-container .content {
  gap: 20px;
  flex-wrap: nowrap;
  width: 100%;
}
main .task-container .content .task {
  gap: 15px;
  width: 60%;
}
main .task-container .content .task input:not([type=checkbox]) {
  width: fit-content;
}
main .task-container .content .task .details {
  width: 100%;
}
main .task-container .content .task .details .name {
  font-weight: 700;
}
main .task-container .content .task .details .name,
main .task-container .content .task .details .subject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
main .task-container .content .countdown {
  flex-shrink: 0;
  width: fit-content;
  gap: 10px;
}
main .task-container .content .countdown p {
  font-weight: 600;
}

.modal-container {
  background-color: rgba(51, 51, 51, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}
.modal-container .modal {
  width: 800px;
  height: fit-content;
  padding: 50px 60px;
  border-radius: 10px;
  background-color: white;
}
.modal-container .modal #closeModal {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  float: right;
}
.modal-container .modal #closeModal .fa-xmark {
  font-size: 25px;
  color: #333333;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.modal-container .modal #closeModal .fa-xmark:hover {
  color: #1B1B1B;
}
.modal-container .modal ul li.title,
.modal-container .modal ul li .title {
  font-weight: 600;
  font-size: 0.8em;
  margin-top: 15px;
}
.modal-container .modal ul li.plateformes {
  margin-top: 15px;
}
.modal-container .modal ul li i {
  margin-right: 3px;
}
.modal-container .modal ul li .subtitle {
  font-size: 0.9em;
  font-weight: 600;
}
.modal-container .modal ul .done {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.modal-container .modal ul .done input,
.modal-container .modal ul .done label {
  margin-top: 30px;
  font-weight: 500;
}
.modal-container .modal .button {
  float: right;
  margin-top: 30px;
}

.has-table {
  overflow-x: auto;
}

table:not(#calendar table) {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
table:not(#calendar table) thead {
  background-color: #9C36B5;
  color: white;
  text-transform: uppercase;
}
table:not(#calendar table) thead th {
  padding: 17px 35px;
  text-align: left;
  font-weight: 600;
}
table:not(#calendar table) tbody tr {
  border-bottom: 1px solid #ddd;
}
table:not(#calendar table) tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
table:not(#calendar table) tbody tr:hover {
  background-color: rgba(156, 54, 181, 0.07);
}
table:not(#calendar table) tbody tr td {
  padding: 15px 35px;
}
table:not(#calendar table) tbody tr td span {
  padding: 4px 8px;
  border-radius: 4px;
}
table:not(#calendar table) tbody tr td span.delegate {
  background-color: #F0B5FF;
  color: white;
}

.form {
  min-width: 750px;
  width: 80%;
  max-width: 900px;
  margin: 2rem auto;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333333;
}
.form h1 {
  margin-bottom: 1.5rem;
}
.form div:not(.group, .container) {
  margin-bottom: 30px;
}
.form label:not(.group label) {
  font-weight: bold;
  display: block;
  margin-bottom: 0.4rem;
}
.form input:not(input[type=checkbox]),
.form textarea,
.form select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
}
.form input:not(input[type=checkbox]):focus,
.form textarea:focus,
.form select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
}
.form textarea {
  resize: vertical;
  min-height: 100px;
}
.form .form-error {
  color: #DC3545;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.form .button {
  margin-top: 30px;
  width: 100%;
}
.form #submission_other_container {
  display: none;
}
.form .container.row-start {
  gap: 50px;
}
.form .container.row-start .assignment .row-start {
  gap: 15px;
}
.form .container.row-start .assignment .row-start .row-start {
  gap: 10px;
}
.form .buttons {
  gap: 15px;
}

.home {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .home {
    min-height: 100vh;
    flex-direction: row;
  }
}
.home .fa-solid {
  font-size: 1.2em;
}
.home .calendar-container {
  width: 100%;
  padding: 30px 20px 35px 4%;
}
@media (min-width: 1200px) {
  .home .calendar-container {
    width: 62%;
    min-height: 100vh;
    padding: 30px 20px 85px 4%;
  }
}
.home .calendar-container .group-buttons-container {
  justify-content: flex-start;
  align-items: flex-end;
}
.home .calendar-container .group-buttons-container .group-buttons {
  margin-bottom: 20px;
}
.home .calendar-container #calendar {
  position: relative;
  z-index: 1 !important;
}
.home .calendar-container #calendar .fc .fc-toolbar.fc-header-toolbar {
  width: 100%;
}
.home .calendar-container #calendar .fc-today-button, .home .calendar-container #calendar .fc-next-button, .home .calendar-container #calendar .fc-prev-button {
  background-color: #4D3677 !important;
  transition: all 0.15s ease-in-out;
  font-size: 0.9rem;
}
.home .calendar-container #calendar .fc-today-button:hover, .home .calendar-container #calendar .fc-next-button:hover, .home .calendar-container #calendar .fc-prev-button:hover {
  background-color: rgb(65.6502890173, 46.0404624277, 101.4595375723) !important;
}
.home .calendar-container #calendar .fc .fc-button {
  font-size: 0.9rem;
  padding: 0 12px;
  height: 35px;
  line-height: normal;
  border-radius: 5px;
}
.home .calendar-container #calendar .fc-day {
  overflow: hidden;
  font-size: 0.78rem;
}
.home .calendar-container #calendar .fc-daygrid-event {
  cursor: pointer;
  padding: 0 5px;
  width: 100%;
}
.home .calendar-container #calendar .fc-daygrid-event-harness {
  right: 0 !important;
}
.home .calendar-container #calendar .fc-toolbar-title {
  text-transform: capitalize;
}
.home .calendar-container #calendar .fc-event-time {
  display: none;
}
.home .tasks-container {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f5f6fa;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 1200px) {
  .home .tasks-container {
    height: 100vh;
    width: 38%;
    position: fixed;
    top: 0;
    right: 0;
  }
}
.home h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
}
.home .main-content {
  gap: 15px;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
}
.home .main-content h2 {
  margin-bottom: 10px;
}
.home .main-content h2 i {
  font-size: 1.2em;
}
.home .button-grey {
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  font-size: 0.9rem;
  width: fit-content;
  gap: 15px;
  cursor: pointer;
  align-self: flex-end;
  margin: 15px;
}
.home .button-grey:hover {
  background-color: rgb(25.5, 25.5, 25.5);
}

@keyframes tintement {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg); /* Balancement à gauche */
  }
  50% {
    transform: rotate(10deg); /* Balancement à droite */
  }
  75% {
    transform: rotate(-5deg); /* Reviens un peu à gauche */
  }
  100% {
    transform: rotate(0deg); /* Retour à la position initiale */
  }
}
.notif-button {
  position: fixed;
  bottom: 25px;
  left: 3%;
  background-color: #4D3677;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.2s ease;
}
.notif-button i {
  transition: transform 0.3s ease;
}
.notif-button:hover {
  background-color: #F0B5FF;
  color: #4D3677;
}
.notif-button:hover i {
  animation: tintement 0.6s ease;
}
.notif-button::after {
  content: "🔔"; /* Emoji de cloche comme secours */
  display: none;
}
.notif-button.no-icon::after {
  display: block;
}

/* Style pour le pop-up des suggestions */
.notif-container {
  position: fixed;
  bottom: 20px;
  left: 3%;
  width: 300px;
  max-height: 250px;
  background-color: #F0B5FF;
  color: #4D3677;
  border-radius: 8px;
  z-index: 100;
  overflow-y: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.notif-container .h4, .notif-container h4 {
  margin: 0 0 8px;
  font-weight: 500;
  padding: 16px 16px 7px 16px;
}
.notif-container ul li {
  width: 100%;
  display: flex;
}
.notif-container ul li a {
  display: block;
  width: 100%;
  margin: 0 8px;
  padding: 4px 8px 4px;
  border-bottom: 1px solid rgb(231.7297297297, 140.2, 255);
  color: #4D3677;
  transition: all 0.15s ease-in-out;
  flex-grow: 1;
  border-radius: 8px;
}
.notif-container ul li a:hover {
  background-color: rgb(236.8986486486, 165.7, 255);
  cursor: pointer;
}
.notif-container ul li a:last-child {
  border-bottom: none;
}
.notif-container .link {
  padding: 10px 16px 16px 16px;
  width: 100%;
}
.notif-container .link .row-end {
  gap: 7px;
  width: fit-content;
  position: relative;
}
.notif-container .link .row-end::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.07rem;
  background-color: currentColor;
  transition: width 0.2s ease-in-out;
}
.notif-container .link .row-end:hover::before {
  width: 100%;
}
.notif-container #closeSuggestions {
  background: none;
  border: none;
  cursor: pointer;
  color: #4D3677;
  transition: all 0.15s ease-in-out;
}
.notif-container #closeSuggestions:hover {
  color: rgb(42.950867052, 30.1213872832, 66.3786127168);
}
.notif-container a:active {
  color: currentColor;
}

.all-tasks {
  min-height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 1200px) {
  .all-tasks {
    flex-direction: row;
  }
}
.all-tasks .filter-section {
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 25px 25px 0;
  width: 100%;
}
@media (min-width: 1200px) {
  .all-tasks .filter-section {
    position: sticky;
    width: 30%;
    top: 0;
    height: 100vh;
  }
}
.all-tasks .filter-section .filters-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .all-tasks .filter-section .filters-container {
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .all-tasks .filter-section .filters-container {
    flex-direction: column;
    gap: 0;
  }
}
.all-tasks .filter-section .filters-container .filter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .all-tasks .filter-section .filters-container .filter label[for=groupSelect], .all-tasks .filter-section .filters-container .filter label[for=subjectSelect] {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    white-space: normal;
    clip-path: none;
  }
}
.all-tasks .filter-section .button-grey {
  margin-top: 20px;
}
.all-tasks .filter-section .button.back-btn {
  position: fixed;
  bottom: 20px;
  left: 4%;
  z-index: 100;
}
.all-tasks #assignmentsContainer {
  height: 100%;
  width: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .all-tasks #assignmentsContainer {
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .all-tasks #assignmentsContainer {
    width: 70%;
  }
}
.all-tasks #assignmentsContainer .task-container {
  max-width: 970px;
}
.all-tasks #assignmentsContainer .task-container .content {
  align-items: start;
  flex-direction: column;
}
@media (min-width: 768px) {
  .all-tasks #assignmentsContainer .task-container .content {
    align-items: center;
    flex-direction: row;
  }
}
.all-tasks #assignmentsContainer .task-container .content .task {
  gap: 2px;
}
.all-tasks #assignmentsContainer .task-container .content .status {
  background-color: #F0B5FF;
  padding: 10px 20px;
  font-size: 0.9em;
  color: #4D3677;
}
.all-tasks #assignmentsContainer .task-container .content .details {
  gap: 5px;
}
.all-tasks #assignmentsContainer .task-container .content .groupes {
  margin-top: 11px;
}
.all-tasks #assignmentsContainer .task-container .content .groupes .title {
  font-weight: 600;
  font-size: 0.8em;
}

.delegate-page .group-buttons-container {
  justify-content: flex-end;
  align-items: flex-end;
}
.delegate-page .group-buttons-container .group-buttons {
  margin-top: 50px;
}
.delegate-page .row-baseline {
  gap: 15px;
  margin-bottom: 10px;
}
.delegate-page .delegate-table {
  margin-top: 20px;
}
.delegate-page .delegate-table .is-delegate {
  background-color: rgba(240, 181, 255, 0.2) !important;
}
.delegate-page .delegate-table .button {
  font-size: 0.8em;
  width: 98px;
}
.delegate-page .delegate-table .button.delegate-btn {
  background-color: #F0B5FF;
  color: #4D3677;
}
.delegate-page .delegate-table .button.delegate-btn:hover {
  background-color: #9C36B5;
  color: white;
}

.manage-assignmts .filter-section {
  gap: 30px;
  margin: 25px 0;
}
.manage-assignmts td.row-start {
  gap: 10px;
}
.manage-assignmts td.row-start .button-modify {
  padding: 6px 14px;
  background-color: #F0B5FF;
  color: #ffffff;
  font-size: 0.9em;
  width: fit-content;
  gap: 10px;
  cursor: pointer;
  color: #4D3677;
  width: 35px;
  height: 35px;
}
.manage-assignmts td.row-start .button-modify:hover {
  background-color: rgb(229.6621621622, 130, 255);
}
.manage-assignmts td.row-start .button-delete {
  padding: 6px 14px;
  background-color: #333333;
  color: #ffffff;
  font-size: 0.9em;
  width: fit-content;
  gap: 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.manage-assignmts td.row-start .button-delete:hover {
  background-color: rgb(25.5, 25.5, 25.5);
}
.manage-assignmts .button {
  margin-top: 23px;
}

.suggestion table {
  margin-top: 25px;
}
.suggestion .row-start {
  gap: 10px;
}
.suggestion .row-start .button {
  margin-top: 23px;
}

.login form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login form .row-start {
  gap: 8px;
}
.login form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  margin-top: 10px;
}
.login form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #595959;
}
.login form input[type=checkbox] {
  width: 13px;
  height: 13px;
  margin-bottom: 0;
}
.login form input[type=checkbox]:checked {
  background-color: #333333;
  border-color: #333333;
}
.login form input[type=checkbox]:checked::after {
  left: 6px;
  top: 3px;
}
.login form select {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-bottom: 10px;
}
.login form .button {
  margin-top: 20px;
  width: 100%;
}
.login .link {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.login .link a:hover {
  text-decoration: underline;
}

.suggest-assignment .row-center {
  gap: 15px;
}
.suggest-assignment .modal-container {
  position: relative;
  min-height: 100vh;
  background: white;
  align-items: flex-start;
}
.suggest-assignment .modal-container .modal {
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.suggest-assignment .modal-container .modal h2 {
  margin-top: 20px;
}
.suggest-assignment .modal-container .modal .row-start {
  gap: 10px;
  margin: 20px 0;
}
.suggest-assignment .modal-container .modal .row-start #form_approve, .suggest-assignment .modal-container .modal .row-start #form_reject {
  color: #4D3677;
  padding: 10px 15px;
  background-color: #F0B5FF;
  cursor: pointer;
}
.suggest-assignment .modal-container .modal .row-start #form_approve:hover {
  background-color: #9BDC33;
}
.suggest-assignment .modal-container .modal .row-start #form_reject:hover {
  background-color: #DC3545;
  color: white;
}

/*# sourceMappingURL=app.css.map */
